img {
    width: 500px;
}
.anmated{
    animation: wobble 3s ease-in-out infinite alternate
}
@keyframes wobble {
    0%{transform:translate(-150 px)}
    100%{transform:translate(150 px)}
}
a {
    color:rgb(63, 4, 4);
}
.kenia-regular {
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
}
head {
    text-align:center;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(94, 91, 85);
    color:rgb(7, 7, 102);
    margin:15px;
}
Body{
    text-align:center;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(94, 91, 85);
    color:rgb(7, 7, 102);
    margin:15px;
    font-size: 30px;
}
div{
    text-align:center;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-weight: 850;
    font-style: oblique;
    background: rgb(94, 91, 85);
    color:rgb(221, 16, 16);
    border: solid 3px rgb(200, 8, 8);
    margin-left:250px;
    margin-right:250px;
    margin-top:25px;
    margin-bottom:15px;
    padding:5px;
}
