img {
    width: 500px;
}
head {
    text-align:center;
    font-family: 'Times New Roman';
    background: rgb(162, 226, 226);
    color:rgb(7, 7, 102);
}
div{
    text-align:center;
    font-family: 'Impact';
    background: rgb(162, 226, 226);
    color:rgb(221, 16, 16);
    border: solid 3px rgb(200, 8, 8);
    margin-left:600px;
    margin-right:600px;
}
body {
    text-align:center;
    font-family: 'Times New Roman';
    background: rgb(162, 226, 226);
    color:blue;
    margin:25px;
}
