img {
    width: 500px;
}
a {
    color:rgb(194, 174, 174);
}
.kranky-regular {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
}

head {
    text-align:center;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(8, 138, 193);
    color:rgb(7, 7, 102);
    margin:15px;
}
div{
    text-align:center;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-weight: 850;
    font-style: oblique;
    background: rgb(8, 138, 193);
    color:rgb(221, 16, 16);
    border: solid 3px rgb(200, 8, 8);
    margin-left:250px;
    margin-right:250px;
    margin-top:-25px;
    padding:5px;
}
body {
    text-align:center;
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background: rgb(8, 138, 193);
    color:rgb(98, 12, 155);
    margin:50px;
}
