img {
    width: 500px;
}
a {
    color:rgb(194, 174, 174);
}
head {
    text-align:center;
    font-family: 'Times New Roman';
    background: rgb(146, 57, 191);
    color:rgb(76, 53, 153);
    margin:15px;
}
div{
    text-align:center;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-weight: 850;
    font-style: oblique;
    background: rgb(146, 57, 191);
    color:rgb(221, 16, 16);
    border: solid 3px rgb(200, 8, 8);
    margin-left:250px;
    margin-right:250px;
    margin-top:-25px;
    padding:5px;
}
body {
    text-align:center;
    font-family: 'Times New Roman';
    font-size: 25px;
    background: rgb(146, 57, 191);
    color:rgb(76, 53, 153);
    margin:50px;
}
