img {
    width: 500px;
}
a {
    color:rgb(194, 174, 174);
}
.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}
head {
    text-align:center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(68, 51, 3);
    color:rgb(7, 7, 102);
    margin:15px;
}
div{
    text-align:center;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    font-weight: 850;
    font-style: oblique;
    background: rgb(68, 51, 3);
    color:rgb(221, 16, 16);
    border: solid 3px rgb(200, 8, 8);
    margin-left:250px;
    margin-right:250px;
    margin-top:-25px;
    padding:5px;
}
body {
    text-align:center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background: rgb(68, 51, 3);
    color:rgb(34, 109, 59);
    margin:50px;
}
.potato{
    width: 200px;
    animation: movelikeacrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeacrab {
    0%{transform:translateX(-150px);}
    50%{transform:translateX(150px);}
    100%{transform:translateX(-150px);}
}